doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    title Chat Rooms
    link(rel='stylesheet', href='/css/style.css')
  body
    if messages.error
      h1(class='popup-message failure')=messages.error
    if messages.success 
      h1(class='popup-message success')=messages.success

    div(class='navbar')
      a(class='navbar__heading', href='/') Chat Rooms
      ul(class='navbar__list')
        if currentUser
          li(class='navbar__item')
            i(class='navbar__profile-icon fas fa-user')
            h1(class='navbar__profile')=currentUser.username
          li(class='navbar__item')
            a(class='navbar__logout' href='/logout') Logout
        else
          li(class='navbar__item')
            a(class='navbar__link', href='/login') Login 
          li(class='navbar__item')
            a(class='navbar__link', href='/register') Register
        

    div(class='main')
      block content
