doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    if popUpMessage
      h1(class=`popup-message ${popUpMessage.status}`)=popUpMessage.text
    div(class='main')
      block content
