extends layout 

block content 
	form(class='form' method='POST' action='/register')
		h1(class='form__heading') Register
		p(class='form__subheading') Please fill out the form below to create an account
		div(class='form__input-box')
			i(class='form__input-icon fas fa-signature')
			input(type='text', class='form__input', placeholder='Name', name='name', required)
		div(class='form__input-box')
			i(class='form__input-icon fas fa-user')
			input(type='text', class='form__input', placeholder='Username', name='username' required)
		div(class='form__input-box')
			i(class='form__input-icon fas fa-key')
			input(type='password', class='form__input', placeholder='Password', name='password' required, minlength='8')
		div(class='form__input-box')
			i(class='form__input-icon fas fa-key')
			input(type='password', class='form__input', placeholder='Confirm password', name='passwordConfirm' required, minlength='8')
		input(type='submit', class='form__submit', value='Sign Up')
	