@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(60, 60, 60);
}

.main {
  padding: 5rem;
}

.form {
  display: inline-block;
  padding: 2rem;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  display: block;
  border-radius: 1rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.44);
}

.form__heading {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.form__subheading {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.form__input-box {
  margin-bottom: 2rem;
  position: relative;
}
.form__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
  font-size: 1.5rem;
}

.form__input {
  padding: 1rem;
  padding-left: 3.5rem;
  border: none;
  font-family: inherit;
  outline: none;
  width: 100%;
  transition: all 0.2s;
  border-left: 5px solid transparent;
  font-size: 1.5rem;
  background-color: rgb(245, 245, 245);
}

.form__input-error {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #e74c3c;
}

.form__input:valid {
  border-left: 5px solid #2ecc71;
}

.form__input:invalid:not(:placeholder-shown) {
  border-left: 5px solid #e74c3c;
}

.form__submit {
  padding: 1rem;
  color: white;
  border: none;
  background-color: #2ecc71;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
  text-align: center;
  transition: all 0.2s;
  outline: none;
}

.form__submit:hover {
  cursor: pointer;
  background-color: #208f4e;
}

.popup-message {
  font-size: 1.5rem;
  position: fixed;
  left: 50%;
  top: -20rem;
  transform: translateX(-50%);
  padding: 2rem;
  text-align: center;
  color: white;
  max-width: 100%;
  border-radius: 1rem;
  animation: slideIn 4s;
}
.popup-message.success {
  background-color: #2ecc71;
}

.popup-message.failure {
  background-color: #e74c3c;
}

.navbar {
  background-color: rgb(30, 30, 30);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  list-style-type: none;
}

.navbar__item {
  display: inline-block;
}

.navbar__link,
.navbar__profile,
.navbar__profile-icon {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar__profile {
  font-weight: 900;
  display: inline-block;
}

.navbar__profile-icon {
  margin-right: 1rem;
}

.navbar__item:not(:last-of-type) {
  margin-right: 2rem;
}

.navbar__heading {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
}

@keyframes slideIn {
  0% {
    top: -10rem;
  }

  33% {
    top: 5rem;
  }

  50% {
    top: 5rem;
  }

  67% {
    top: 5rem;
  }

  100% {
    top: -20rem;
  }
}
